@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 400;
  src: url("../assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 900;
  src: url("../assets/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
}
